<!DOCTYPE html>

<html>
<head>
	<%=link_to "Get Started!", songs_path, class: 'btn btn-lg btn-success'%>
	<title>Welcome</title>
</head>
<body>

<h1>Welcome to MusicDB</h1>
<h2>Checkout our songs to get started!</h2>

</body>
</html>





